* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff6e5;
  margin-top: 16rem;
}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
  outline: none;
  border: none;
  transform: scale(1.6);
}

.nav-item {
  color: #dc4444;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

li a {
  text-decoration: none;
  position: relative;
}

li a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  top: 100%;
  background-color: #422d19;
  transition: 0.3s ease-in-out;
}
li a:hover::after {
  width: 100%;
}
.header {
  position: relative;
  background-color: #ffc611;
  padding: 6rem 0rem 1rem;
  margin-top: 12rem;
}

.header img {
  width: 231px;
  height: 239px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -70%;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 48px;
  font-family: italiana;
}

.subtext {
  font-size: 32px;
  font-family: inter;
  font-weight: 400;
}

#search-icon {
  color: #164058;
  font-size: 26px;
}

.user {
  margin-top: 5rem;
}

section {
  padding-top: 7rem;
}

.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  gap: 5rem;
  padding: 0rem 7rem;
  margin: 8rem 0rem 12rem;
  animation: scrollanimation 0.9s ease-in-out;
}

.user,
.community,
.repairer {
  animation: scrollanimation 0.9s;
  animation-timeline: view();
  animation-range: entry 0 cover 70%;
}

.container-section img {
  border-radius: 18px;
  border: solid 10px #000000;
}

.text-desc {
  border-radius: 18px;
  padding: 3rem;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 5rem;
  padding: 2rem 0rem;
  background-color: rgb(255, 255, 255);
  width: 592px;
  border-radius: 8px;
  text-wrap: nowrap;
}

footer {
  margin-top: 8rem;
  text-align: center;
  position: relative;
}

.container button {
  background-color: #164058;
  color: white;
  border: 2.65px solid black;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.container button:hover {
  background-color: #c6a736;
  color: rgb(0, 0, 0);
  border: 2.65px solid black;
}

.container-list ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
  width: 592px;
  border-radius: 8px;
}

li {
  list-style-type: none;
}

.container-list {
  margin-bottom: 2rem;
}

.container-list ul li a {
  text-decoration: none;
  font-family: inter;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.copyright p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  bottom: 30%;
  background-color: #422d19;
  transition: 0.3s ease-in-out;
}

@keyframes scrollanimation {
  from {
    scale: 0.4;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .container-section {
    flex-direction: column;
    padding: 0rem 2rem;
    margin: 8rem 0rem 12rem;
  }

  .container-list ul li a {
    font-size: 18px;
  }

  .text-desc {
    padding: 2rem;
  }
}

@media (max-width: 722px) {
  .container {
    padding: 0px 1rem;
  }
}
