* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 10rem;
  background-color: #fff6e5;
  height: 150dvh;
}
#search-icon {
  font-size: 2rem;
}

.container {
  margin-top: 2rem 0rem;
  width: 1652px;
  height: 862px;
  /* background-color: #ffc611; */
  border-radius: 34.74px;
}

.card {
  border: none;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  margin: 2rem 1rem 2rem 1rem;
}

.info {
  border-radius: 18.13px;
  height: 777px;
  width: 575px;
  background-color: white;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#searchForm {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-control {
  width: 20%;
  height: 4rem;
  font-size: 1.2rem;
}

.btn-search {
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: none;
  background-color: #ffc611;
  color: rgb(0, 0, 0);
  padding: 1rem;
}
.gambar img {
  width: 541.5230712890625px;
  height: 452.7083740234375px;
  object-fit: cover;
  border: black solid 4px;
  border-radius: 57.63px;
}

.info h2 {
  font-size: 56.48px;
  font-family: inter;
}
.info p {
  font-family: inter;
  font-size: 30.74px;
}

.fixed button {
  background-color: #164058;
  color: white;
  padding: 1rem;
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#profil-icon {
  font-size: 3rem;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}
